.index{
  .loginFrom{
      border:none;
      padding: 32px;
  }
  .handler{
      text-align: center;
      padding: 20px 0;
      .at-button{
          line-height: 44px;
          padding: 4px 20px;
      }
  }
}