$gridH: 100px;
$editorH: 88px;
$skin: #62d5c8;
.detail{
  position: relative;
  // padding-top: $gridH;
  // padding-bottom: $editorH;
  display: flex; 
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  .grid-box{
    // position: fixed;
    top: 0;
    left: auto;
    z-index: 100;
    width: 100%;
    height: $gridH;
    background: #fff;
    .at-grid{
      .at-grid-item{
        height: $gridH;
        .content-inner__img{
          width: 40px;
          height: 40px;
        }
        .content-inner__text{
          font-size: 24px;
        }
      }
    }
  }
  .editor-box{
    width: 100%;
    // height: $editorH;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    .at-form{
      // position: relative;
      height: $editorH;
      padding-left: 150px;
      padding-right: 0px;
      .prefix-box{
        position: absolute;
        top: 14px;
        left: 0px;
        margin-top: 4px;
        width: 120px;
        .at-button{
          color: #fff;
          background-color: $skin;
          border-color: $skin;
          font-size: 26px;
          padding: 4px 10px;
          min-width: 40px;
          height: 60px;
          line-height: 48px;
          .at-button__text{
            padding: 0;
            color: #fff;
          }
        }
      }
      .suffix-box{
        padding:10px 14px;
        box-sizing: border-box;
        height: $editorH;
        line-height: $editorH - 4;
        .iconfont{
          margin-top: 4px;
        }
      }
      .at-input{
        font-size: 14px;
        padding: 0;
        border: none;
      }
    }
  }
  .message-list{
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding-bottom: $editorH;;
    .scrollview{
      position: relative;
      padding-bottom: $editorH;
      box-sizing: border-box;
    }
    .hidden-list{
      overflow:hidden;
      height:0;
    }
    .at-row-list{
      padding-top: 34px;
    }
    .loading-text{
      text-align: center;
      color: #888;
      padding: 0px 20px;
      font-size: 28px;
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}