$gridH: 100px;
$editorH: 88px;
$skin: #62d5c8;
.com-list{
  position: relative;
}
.message-detail{
  padding: 30px 20px;
  position: relative;
  &.is-self{
    text-align: right;
    .photo{
      image{
        left: 0;
        margin-left: 28px;
      }
      .taro-img{
        width: auto;
        height: auto;
      }
      img{
        width: 56px;
        height: 56px;
      }
    }
    .message-text{
      background: $skin;
      color: #fff;
      .emoji{
        width: 44px;
        height: 44px;
      }
    }
    .message-status{
      font-size: 24px;
      padding: 4px 0p;
      color: #aaa;
    }
  }
  
  .photo{
    position: absolute;
    top: 50%;
    left: auto;
    width: 64px;
    height: 64px;
    margin-top: -28px;
    image{
      width: 56px;
      height: 56px;
    }
    img{
      width: 56px;
      height: 56px;
    }
  }
  .message-text{
    display:inline-block;
    font-size: 24px;
    line-height: 36px;
    margin-left: 20px;
    margin-bottom: 4px;
    padding: 30px 36px 28px;
    border-radius: 6px;
    color: #888;
    background-color: #efefef;
    text-align: left;
    word-break:break-all;
    .emoji{
      width: 44px;
      height: 44px;
    }
  }
}