.index{
    .loginFrom{
        border:none;
        padding: 32rpx
    }
    .handler{
        text-align: center;
        .at-button{
            line-height:44rpx;
            padding: 6rpx 40rpx;
        }
    }
}